[Unit]
Description=Web
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/prosjekt-3/frontend
ExecStart=/usr/bin/npx start web -- start

User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production
Environment=PORT=8000

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target