.header{
    background-color: #2AB7CA;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 11vh;
}

.header img {
    margin-right: 20px;
    height: 50px;
}

.header h1 {
    font-weight: normal;
}
